<h1>
    Random Play:
</h1>

<div>
    Successful answers = <span id="score"><%= score %></span>
</div>

<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">

    <p>
        Question: <b><%= quiz.question %></b>
    </p>


    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Answer" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Check">
    </div>
</form>

<h4 id="countdown"><%=locals.allowedTime%></h4>
<script>
   var interval = 1000*1;
var quiztimer = function() {
    $.ajax({
        type: 'GET',
        url: '/quizzes/randomplay/countdown',
        success: function(data) {
            $('#countdown').html(data.count);

            if(data.count===0){
                clearInterval(ajax_call);
                window.location = '/quizzes/randomplay/timeup';
            }

        }
    });
};
var ajax_call =setInterval(quiztimer, interval);
</script>

<% var tips = quiz.tips; %>
<% var quizId = quiz.id; %>
<% var quizAuthorId = quiz.authorId; %>


<% include ../tips/index %>



