<script>
    var audio = new Audio('/sounds/gameover.mp3');
    audio.play();
</script>

<h1>Time's up!</h1>
<h2>You didn't answer in time.</h2>
<h4>GAME OVER. Final Score = <%=score%> </h4>
<a href="/quizzes"> End of Play </a>
